# Ignore node_modules
node_modules/


# Ignore specific configuration files
jest.config.js
jest.config.ts
jest.config.mjs
jest.config.cjs
jest.config.json

# Ignore package-lock.json if you don't want to track it
package-lock.json

# Ignore any temporary or IDE-specific files
.DS_Store
.idea/
*.log

Assignment1/
Assignment2/
humam.png